.ContainerNota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cabe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cabe h1 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.02em;
  color: #ff5d55;
  border: solid 1px #ffc9c7;
  border-radius: 5px;
  padding: 1rem;
}
.cabe p {
  /* color: #303030; */
  font-family: 'Baloo 2';
  font-size: 1.5rem;
  background: #ff5d55;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.passos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
