.ContainerNota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ContainerNotaMobile .cabe h1 {
  font-size: 1rem;
}

.divContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}
.passos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
}
