.sobre {
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 100%;
}
.pSobre {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.nosSobre {
  width: 90px;
  top: 861px;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #7c7c7c;
  white-space: nowrap;
}

.instSobre {
  width: 500px;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #303030;
  margin: 0;
}
.divSobreCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.divSobreCardMob {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.divSobre {
  margin-left: 4rem;
  margin-right: 4rem;
}

.resumeDiv {
  background-color: #f8f8f8;
  padding: 5% 2% 5% 2%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.resumeInfos {
  margin-left: 4rem;
  margin-right: 4rem;
}
.resumeTitle {
  width: 500px;
  height: 204px;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;

  letter-spacing: -0.02em;
  color: #733dcb;
}
.resumeText {
  max-width: 500px;
  height: 246px;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  /* or 164% */

  letter-spacing: -0.02em;

  color: #303030;
}

.resumeImageParent {
  position: relative;
}
.resumeImage,
.resumeImageBackground1,
.resumeImageBackground2 {
  width: 610px;
  height: 610px;
  border-radius: 300px 10px 300px 300px;
  position: absolute;
}
.resumeImage {
  background: #c4c4c4;
  z-index: 999;
}
.resumeImageBackground1 {
  background: #ff5d55;
  transform: rotate(-3.83deg);
}
.resumeImageBackground2 {
  background: #ffbf1f;
  transform: rotate(6.98deg);
}

.sobreCard {
  box-sizing: border-box;
  width: 400px;
  height: 452px;
  left: 100px;
  top: 1084px;
  background: #c7b1ea;
  border: 1px solid #733dcb;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

.sobreCard p {
  width: 187px;
  height: 104px;
  left: 562px;
  top: 1390px;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: -0.02em;
}
.CardAjude {
  display: flex;
  justify-content: center;
  height: 452px;
  width: 350px;
  border-radius: 40px;
  margin-top: 2rem;
  background: #c7b1ea;
  border: 1px solid #733dcb;
  color: grey;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
.cardProjetos {
  display: flex;
  justify-content: center;
  height: 452px;
  width: 350px;
  border-radius: 40px;
  margin-top: 2rem;
  color: grey;
  background: #ffeab7;
  border: 1px solid #ffbf1f;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
.cardQuemSomos {
  display: flex;
  justify-content: center;
  height: 452px;
  width: 350px;
  border-radius: 40px;
  margin-top: 2rem;
  border-radius: 40px;
  background: #ffc9c7;
  border: 1px solid #ff5d55;
  color: grey;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
.Grid {
  display: flex;
  flex-direction: column;
}
